<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/base.css">
  <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
  <nav>
    <a id='login' href="/login">Login</a>
    <a id='signUp' href="/sign-up">Sign Up</a>
    <a id='logout' href="/logout">Logout</a>
    <a id='home' href="/">Home</a>
  </nav>
  <div class='main-body'>
    {% block main %}{% endblock  %}
  </div>
</body>
</html>