{% extends "base.html" %}
{% block title %}Flashnote{% endblock %}

{% block main %}

<h1 class='welcome'>Welcome to <span>Flashnote</span></h1>

<div class='recents-container'>
  <h2>Recent Notes</h2>
  <div class='recents'>
    {% if user.notes|length == 0 %}
      <a id='empty' href="/notes">Add a Note</a>
    {% else %}
      {% set rev_notes = user.notes[::-1] %}
      {% for note in rev_notes[0:3] %}
        <a class='recent' href='/notes/{{note.id}}'>
          <h4>{{note.title}}</h4>
          <p>{{note.content}}</p>
          <div class="gradientback"></div>
        </a>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock  %}