{% extends "base.html" %}
{% block title %}Add Note{% endblock %}

{% block main %}

<div class='sidebar'>
  <h3>Your Notes <a id='create' href="/notes">✍︎</a></h3>  
  <ul>
    {% set rev_notes = user.notes[::-1] %}
    {% for note in rev_notes %}
      <li><a href="/notes/{{note.id}}">{{note.title}}</a><button onClick='deleteNote({{ note.id }})'>&times;</button></li>
    {% endfor %}   
  </ul>
</div>
<div class='note-body'>
  <form class='note-form' method='POST'>
    <label for="title-input">Title:
      <input type="text" name="title" id="title-input">
    </label>
    <textarea name="content" id="note"></textarea>
    <br>
    <button type='submit'>Add Note</button>
  </form>
</div>

{% endblock  %}