{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block main %}

<h1 class='welcome'>Welcome to <span>Flashnote</span></h1>

<form class="sign-up-form" style="padding-bottom: 10px" method="POST">
  <h2>Sign Up</h2>
  <label for="email-input">Email:
    <input type="email" name="email" id="email-input">
  </label>
  <label for="first-name-input">First Name:
    <input type="text" name="first_name" id="first-name-input">
  </label>
  <label for="password-input">Password:
    <input type="text" name="password" id="password-input">
  </label>
  <label for="con-password-input">Password (Confirm):
    <input type="text" name="con_password" id="con-password-input">
  </label>
  <button type="submit">Signup</button>
</form>

{% endblock  %}