html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-family: sans-serif; */
  font-family: "Funnel Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

nav {
  background-color: rgb(43, 67, 73);
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px 0;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  color: rgba(255, 255, 255, 0.851);
  text-decoration: none;
  font-size: 20px;
  margin-left: 30px;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#theme {
  margin-right: 30px;
  height: 32px;
  width: 35px;
  font-size: 20px;
  text-align: center;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 94.5vh;
  margin: 0;
}

.welcome {
  margin-top: 250px;
  font-size: 60px;
  /* font-family:Arial, Helvetica, sans-serif; */
}

.welcome span {
  font-family: "Rubik doodle shadow";
  font-size: 70px;
  /* background-color: rgb(251, 251, 155);
  padding: 0 10px;
  border: 1px solid black; */
}

.recents-container {
  border: 2px solid black;
  background-color: rgba(200, 200, 200, 0.65);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 100px;
  width: 830px;
  height: 330px;
  overflow: hidden;
}

#empty {
  color: black;
  text-decoration: none;
  justify-self: center;
  align-self: center;
  transform: translateX(-15px);
  font-size: 30px;
  text-decoration: underline;
  transition: transform 250ms ease-in;
}

#empty:hover {
  transform: scale(1.05) translateX(-15px);
  text-decoration: double underline;
  font-weight: 600;
}

.recents {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 780px;
  height: 263px;
  /* border: 2px solid blue; */
  padding: 5px 10px 20px 10px;
}

.recent {
  border: 2px solid rgba(200, 200, 200, 1);
  border-radius: 12px;
  background-color: rgb(248, 248, 162);


  color: black;
  min-width: 200px;
  height: 200px;
  margin: 10px 20px;
  padding: 6px 14px;
  text-overflow:hidden;
  overflow: hidden;
  transition: transform 250ms ease-in, box-shadow 250ms ease-in;
}

.recent h4 {
  font-size: 22px;
}

.recent p {
  font-size: 18px;
  width: 180px;
  height: 24px;
  text-wrap: none ;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}

.recent:hover {
  transform: scale(1.025);
  box-shadow: -1px 1px 6px rgba(180, 180, 180, 1);
}

.sign-up-form {
  width: 830px;
  height: 330px;
  border: 2px solid black;
  background-color: rgba(200, 200, 200, 0.65);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 100px;
}

.sign-up-form label {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  font-size: 20px;
}

.sign-up-form input {
  width: 200px;
  height: 26px;
}

.sign-up-form button {
  align-self: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 210px;
  height: 35px;
  width: 70px;
}

.sidebar {
  border-right: 3px solid rgb(200, 200, 200);
  background-color: rgb(230, 230, 230);
  margin: 0;
  left: 0;
  /* position: fixed; */
  height: 100%;
  width: 300px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul {
  align-self: start;
  width: 100%;
  margin: 0;
  padding: 4px 0;
}

.sidebar li {
  display: flex;
  justify-content: space-between;
  width: 260px;
  list-style-type: none;
  margin: 10px 0 10px 0;
  padding: 8px 20px 2px 20px;
  font-size: 20px;
  border-top: 2px solid rgb(200, 200, 200);
  border-top: 2px solid rgb(200, 200, 200);
}

#create {
  position: absolute;
  padding: 0 20px;
  transform: translateY(-8px);
  font-size: 30px;
  transition: transform 250ms ease-in;
}

#create:hover {
  transform: scale(1.1) translateY(-8px) translateX(7px);
}

.sidebar a {
  color: black;
  text-decoration: none;
  margin: 0;
  width: 200px;
  overflow-x: hidden;
  transition: transform 200ms ease-in;
}

.sidebar a:hover {
  transform: translateX(5px);
}


.sidebar button {
  margin: 0;
  border: none;
  border: 2px solid rgba(200, 200, 200, 1);
  border-radius: 6px;
  transition: transform 250ms ease-in, box-shadow 250ms ease-in;
}

.sidebar button:hover {
  transform: scale(1.025);
  box-shadow: -1px 1px 4px rgba(180, 180, 180, 1);
  cursor:pointer;
}

.note-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  width: 75%;
  padding: 10px;
}

.note-form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

.note-form label {
  font-size: 22px;
  /* margin: 10px auto; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* padding-top: 5px; */
}

.note-form input {
  height: 26px;
  width: 200px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid rgb(200,200,200);
}

.note-form textarea{
  width: 100%;
  height: 120px;
  margin-top: 20px;
  /* margin: 10px auto; */
  border-radius: 8px;
  /* border: none; */
  padding: 5px;
}

.note-form button {
  min-width: 100px;
  height: 32px;
  font-size: 18px;
  border-radius: 8px;
}

.notes-main-body {
  display: flex;
  width: 100%;
  height: 100%;
}

.note-body {
  /* border-left: 3px solid rgb(200, 200, 200);
  border-right: 3px solid rgb(200, 200, 200); */
  border: 2px solid rgb(200,200,200);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  width: 80%;
  /* height: 100%; */
  right: 0;
  /* position: fixed; */
  margin: 50px 200px;
  padding: 50px ;
}